<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangbang.xiaohua"
    android:versionCode="1"
    android:versionName="1.0"
        >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

    <supports-screens  android:smallScreens="true"
                       android:anyDensity="true"
                       android:normalScreens="true"
                       android:largeScreens="true"

            ></supports-screens>
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 以下为可选权限 -->
  	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  	<uses-permission android:name="android.permission.RECORD_AUDIO" /> 
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  	<uses-permission 
  	    android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.yangbang.MainApp"
        
            >
        <activity android:name="com.baidu.mobads.AppActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"
                  android:screenOrientation="portrait"
                />
            <meta-data android:name="BaiduMobAd_APP_ID" android:value="a07263e8" />
		<meta-data android:name="BaiduMobAd_APP_SEC" android:value="a07263e8" />
        <activity
            android:name="com.yangbang.MiLaucherActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
              <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:name="com.yangbang.text.TextActivity"  android:theme="@style/AppTheme.Light.TranslucentActionBar">
        </activity>

        <activity
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:name="com.yangbang.text.TextDetailActivity" android:theme="@style/AppTheme.Light">
        </activity>

        <activity
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:name="com.yangbang.text.TextFav" android:theme="@style/AppTheme.Light">
        </activity>

        <activity
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:name="com.yangbang.text.TextItemActivity"  android:theme="@style/AppTheme.Light.TranslucentActionBar"></activity>
        
            <receiver   
        android:name="com.yangbang.service.BootBroadcast"  
        android:permission="android.permission.RECEIVE_BOOT_COMPLETED">  
        <intent-filter>  
            <action android:name="android.intent.action.BOOT_COMPLETED" />  
        </intent-filter>  
    </receiver>
    
    <receiver android:name="com.yangbang.service.Alarmreceiver" >
            <intent-filter>
                <action android:name="arui.alarm.action" />
            </intent-filter>

        <intent-filter>
            <action android:name="arui.alarm.action2" />
        </intent-filter>
        </receiver>

        <service android:name="com.yangbang.service.DaemonService" >
        </service>
        
        
</application>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>